<div class="flex-center">
  <h1>Add pets</h1>
  <form action="/pets/create"  class="flex-center">
    <input type="text" placeholder="pet's name" maxlength="50" minlength="3" required>
    <button type="submit">Save New Pet</button>
  </form>
</div>