<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home - Users</title>
</head>
<body>
  <h1>Welcom to E-shop Express</h1>
  <ul>
    <li>
      <a href="/user/1"> User 1: Allassane</a>
      <a href="/user/2"> User 1: Trast00</a>
    </li>
  </ul>
</body>
</html>