<!DOCTYPE html>
<html lang="en">
<%- include('includes/head.ejs') %>
<body>
  <h1>Welcom to E-shop Express</h1>
  <ul>
    <li>
      <a href="/users/1"> User 1: Allassane</a>
    </li>
    <li>
      <a href="/users/2"> User 2: Trast00</a>
    </li>
    <li>
      <a href="/users/3"> User 3: Mathild</a>
    </li>
  </ul>
</body>
</html>