<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>List of Items</h1>
  <ul>
    <li>
      <div>
        <img src="" alt="">
        <h2>item name</h2>
        <div>
          <button type="button">Details</button>
          <button type="button">Edit</button>
        </div>
      </div>
    </li>
    <li>
      <div>
        <img src="" alt="">
        <h2>item name</h2>
        <div>
          <button type="button">Details</button>
          <button type="button">Edit</button>
        </div>
      </div>
    </li>
    <li>
      <div>
        <img src="" alt="">
        <h2>item name</h2>
        <div>
          <button type="button">Details</button>
          <button type="button">Edit</button>
        </div>
      </div>
    </li>
  </ul>
</body>
</html>