<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Assign 4</title>
</head>
<body>
  <h1>Hi, there</h1>
  <h4>Put your name below</h4>
  <form action="/" method="post">
    <input type="text" name="name" placeholder="name (ex:Allassane ...)">
    <button type="submit">Send</button>
  </form>
</body>
</html>