<%- include('./includes/head.ejs') %>
<body>
  <h1><%= pageTitle %></h1>
  <ul>
    <% for (let user of listUsers) { %>
      <% console.log(user) %>
    <li>user: <%= user.name %></li>
    <% } %>
  </ul>
</body>
</html>