<div class="column card">
  <img src=<%= animal.imageUrl %> alt=<%= animal.name %>>
  <div class="card-content">
    <h2><%= animal.name %></h2>
    <div class="row gap-12">
      <button type="button" class="max-content-flex btn-action">Update</button>
      <form action=<%= `/pets/${animal.id}/destroy` %>
        method="delete"
        class="max-content-flex">
        <button type="submit" class="max-content btn-action btn-red">Delete</button>
      </form>

    </div>
  </div>
</div>