<div class="column card">
  <img src="" alt="">
  <div class="card-content">
    <h2>item name</h2>
    <div class="row gap-12">
      <button type="button" class="max-content-flex btn-action">Details</button>
      <button type="button" class="max-content-flex btn-action btn-red">Delete</button>
    </div>
  </div>
</div>