<nav class="max-width flex-center">
  <ul class="row">
    <li><a href="/">logout</a></li>
    <li><a href="/pets">pets</a></li>
    <li><a href="/favorite">favorite</a></li>
    <li><a href="/pets/add">add-pet</a></li>
  </ul>
</nav>